[submodule "smaccmpilot-stm32f4"]
	path = smaccmpilot-stm32f4
	url = https://github.com/GaloisInc/smaccmpilot-stm32f4
[submodule "ivory"]
	path = ivory
	url = https://github.com/GaloisInc/ivory.git
[submodule "tower"]
	path = tower
	url = https://github.com/GaloisInc/tower.git
[submodule "ardupilot"]
	path = ardupilot
	url = https://github.com/GaloisInc/ardupilot.git
[submodule "ivory-rtverification"]
	path = ivory-rtverification
	url = https://github.com/GaloisInc/ivory-rtverification.git
[submodule "smaccmpilot-SiK"]
	path = smaccmpilot-SiK
	url = https://github.com/GaloisInc/smaccmpilot-SiK.git
[submodule "ivory-tower-stm32"]
	path = ivory-tower-stm32
	url = https://github.com/GaloisInc/ivory-tower-stm32
[submodule "gidl"]
	path = gidl
	url = https://github.com/GaloisInc/gidl
[submodule "gec"]
	path = gec
	url = https://github.com/GaloisInc/gec
[submodule "tower-camkes-odroid"]
	path = tower-camkes-odroid
	url = https://github.com/GaloisInc/tower-camkes-odroid
[submodule "ivory-tower-posix"]
	path = ivory-tower-posix
	url = https://github.com/GaloisInc/ivory-tower-posix.git
[submodule "smaccmpilot-hardware-prep"]
	path = smaccmpilot-hardware-prep
	url = https://github.com/GaloisInc/smaccmpilot-hardware-prep
[submodule "smaccmpilot-org"]
	path = smaccmpilot-org
	url = https://github.com/galoisinc/smaccmpilot-org
[submodule "ivorylang-org"]
	path = ivorylang-org
	url = https://github.com/galoisinc/ivorylang-org
