[submodule "smaccmpilot-stm32f4"]
	path = smaccmpilot-stm32f4
	url = https://github.com/GaloisInc/smaccmpilot-stm32f4
[submodule "ivory"]
	path = ivory
	url = https://github.com/GaloisInc/ivory.git
[submodule "tower"]
	path = tower
	url = https://github.com/GaloisInc/tower.git
[submodule "ardupilot"]
	path = ardupilot
	url = https://github.com/GaloisInc/ardupilot.git
[submodule "ivory-rtverification"]
	path = ivory-rtverification
	url = https://github.com/GaloisInc/ivory-rtverification.git
[submodule "smaccmpilot-SiK"]
	path = smaccmpilot-SiK
	url = https://github.com/GaloisInc/smaccmpilot-SiK.git
[submodule "smaccmpilot-gcs-gateway"]
	path = smaccmpilot-gcs-gateway
	url = https://github.com/GaloisInc/smaccmpilot-gcs-gateway
[submodule "mavlink"]
	path = mavlink
	url = https://github.com/GaloisInc/mavlink.git
[submodule "ivory-tower-stm32"]
	path = ivory-tower-stm32
	url = https://github.com/GaloisInc/ivory-tower-stm32
[submodule "gidl"]
	path = gidl
	url = https://github.com/GaloisInc/gidl
[submodule "s-cargot"]
	path = s-cargot
	url = https://github.com/aisamanra/s-cargot
[submodule "gec"]
	path = gec
	url = https://github.com/GaloisInc/gec
